@import './styles/sass/partials/setup';



body{
    background-color: #1c242d;
    color: white;
}

.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.searchNav{
    margin: 30px 0;
    padding: 20px;
    background-color: #2e3740;
    
    h2{
        font-weight: normal;
    }

    p{
        color: #abafb3;
    }

}

.usersContainer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    img{
        width: 80px;
        margin-right: 5px;
    }

    .usersList{
        width: calc(100% / 3 - 10px);
        background-color: #2e3740;
        margin: 5px;
        padding: 10px;
    }

    .userContainer{
        display: flex;

        .userText{
            color: white;
        }
    }
}

.heroList {
    display:flex;
    flex-wrap:wrap;
    list-style: none;
}

.topNav{
    background-color: #242F39;
    padding: 15px;
}

.topNavList{
    display: flex;
    list-style: none;
    align-items: center;
}

.topNavList li{
    margin-right: 20px;
    
    a{
        text-decoration: none;
    }
}


.topNavList li a:visited{
    color: #DFE4EB;
}

.homeButton{
    display: flex;
    align-items: center;
    background-color: #5f7a99;
    padding: 5px 15px;
    border-radius: 3px;
    
    a{
        color: blue;
    }
}

.form{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchInput{
    width: 400px;
    padding: 10px;
    background-color: #1C242D;
    color: white;
    border: none;
}

.inputWrapper{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242F39;
}

.searchButton{
    color: #92BB35;
    background-color: #1C242D;
    border: 1px solid #92BB35;
    padding: 8px 15px;
    letter-spacing: 1px;
}

.playerOverview{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #2E3740;
    border-radius: 6px;
    margin: 30px 0;

    .playerName{
        font-size: 24px;
    }

    img{
        width: 100px;
        margin-right: 10px;
        border: 1px solid #abafb3;

    }

    .playerOverviewLeft{
        display: flex;
    }
    
    .playerOverviewRight{
        display: flex;

        div{
            margin-left: 30px;
        }
    }
}

.header{
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.labelContainer{
    padding: 10px 50px;
    display: flex;
    background-color: #242F39;
    border-bottom: 1px solid rgb(171,175,179,0.5);
    // margin-bottom: 10px;
    
    div{
        margin-right: 30px;
    }

    .label1{
        width: 243px;
        // margin-right: 280px;
    }

    .label2{
        width: 80px;
    }
}

.playerInfoBox{
    background-color: #242f39;
}

.mostPlayedHeroesContainer{
    padding: 10px 20px;
}


.mostPlayedHeroesRow{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #242f39;
    border-bottom: 1px solid rgb(171,175,179,0.5);

    img{
        margin-right: 10px;
        border: 2px solid #abafb3;
    }

    .mostPlayedHeroNames{
        width: 200px;
        color: #92BB35;
    }

    .mostPlayedHeroesMatchCount{
        margin-right: 65px;
    }

    span{
        margin-right: 30px;
    }
}

.lobbyType{
    text-transform: capitalize;
}

.recentMatchesNav{
    font-size: 20px;
    padding: 10px 50px;
    display: flex;
    // justify-content: center;
    text-align: center;
    background-color: #242F39;
    margin-bottom: 10px;
    .label1{
        width: 25%;
    }
    .label2{
        width: 20%;
    }
    .label3{
        width: 20%;
    }
    .label4{
        width: 20%;
    }
    .label5{
        width: 20%;
    }
}

.matchHistoryContainer{
    // background-color: #242F39;

    a{
        color: #DFE4EB;
    }

    a:visited{
        color: #DFE4EB;
    }
}

.matchHistory{
    font-size: 20px;
    padding: 25px 30px;
    margin-bottom: 20px;
    display: flex;
    // justify-content: center;
    align-items: center;
    list-style: none;
    // background-color: #242F39;
    border-radius: 6px;
    // text-align: center;
    border: 2px solid #abafb3;
}

.matchTypeOne{
    background-color: #344244;
}

.matchTypeTwo{
    background-color: #2d3741;
}

.matchWon{
    color: #a9cf54;
}

.matchLose{
    color: #c23c2a;
}

.capital{
    text-transform: capitalize;
}

.itemsContainer{
    width: 30%;
    display: flex;
}



.matchDetails .mostPlayedHeroesImg{
    height: 50px;
}

.matchDetails{
    img{
        height: 40px;
    }
}

.mostPlayedHeroesImg{
    height: 50px;
    margin-right: 5px;
    border: 2px solid #abafb3;
}

.row1{
    width: 25%;
    display: flex;
    align-items: center;
}

.row2{
    width: 20%;
    text-align: center;
}

.row3{
    width: 20%;
    text-align: center;
}

.row4{
    width: 20%;
    text-align: center;
}

.row5{
    width: 20%;
    text-align: center;
}

.playedHeroName{
    color: #a9cf54;
    // text-decoration: none;
}

.matchDetailContainer{
    background-color: #242f39;
    padding: 10px 20px;
    border-radius: 6px;
}

.gameResult{
    text-align: center;
}

.gameScoreContainer{
    text-align: center;
    margin-top: 10px;
}

.gameTimer{
    font-size: 24px;
    font-weight: lighter;
    margin: 0 6px;
}

.scoreLeft{
    font-size: 24px;
    color: #92BB35;
}

.scoreRight{
    font-size: 24px;
    color: #c23c2a;
}

.teamRadiant{
    color: #92BB35;
    font-weight: normal;
}

.matchDetailsTitle{
    margin-bottom: 30px;
}

.playerRow{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkslategray;
}

.mdRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        text-align: center;
    }
}

.mdRow1{
    width: 7%;
}

.mdRow2{
    width: 15%;
    // margin: 0 10px;
}

.mdRow3{
    width: 10%;
}

.mdRow4{
    width: 10%;
}

.mdRow5{
    width: 6%;
}

.mdRow6{
    width: 6%;
}

.mdRow7{
    width: 6%;
    margin-right: 20px;
}

.matchDetails a{
    color: #a9cf54;
}

a{
    text-decoration: none;
}

.description{
    color: #abafb3;
}

.imgContainer{
    border: 1px solid #abafb3;
}






@import './styles/sass/partials/heroInfo';
@import './styles/sass/partials/mediaQueries';